@page "/texteditor"
@inherits MyAppComponent
@using FSharp
@using FSharpLib

<div>
    <label for="textarea">Textarea:</label>
</div>

<div>
    <input 
        cols="40" 
        rows="8" 
        name="textarea"
        id="textarea"
        bind="@MyStrContent"
        value=@State.TextEditorContent
    />
</div>

<div>
    <button onclick="@OnSaveButtonClicked">Save file!</button>
</div>


@functions 
{
    private string MyStrContent { get; set; }

    void OnSaveButtonClicked()
    {
        Console.WriteLine("Saving " + MyStrContent + ".");
        Dispatch(MyMsg.NewSetTextEditorContent(MyStrContent));
        System.IO.File.WriteAllText(@"C:\Users\cviot\Desktop\test.txt", contents: @State.TextEditorContent);
    }

}
