@page "/texteditor"
@inherits MyAppComponent
@using FSharp
@using FSharpLib

<div>
    <label for="textarea">Textarea:</label>
</div>

<div>
    <input 
        cols="40" 
        rows="8" 
        name="textarea"
        id="textarea"
        bind="@MyStrContent"
        onkeyup="(this.dispatchEvent(new CustomEvent('change', { bubbles: true })))" 
    />
</div>

<div>
    <button onclick="@OnSaveButtonClicked">Save file!</button>
</div>


@functions 
{
    private string _myStrContent = "";

    private string MyStrContent 
    { 
        get
        {
            return _myStrContent;
        }
        set
        {
            _myStrContent = value;
            Dispatch(MyMsg.NewSetTextEditorContent(MyStrContent));
        }
    }

    void OnSaveButtonClicked()
    {
        Console.WriteLine("Saving " + MyStrContent + ".");
        System.IO.File.WriteAllText(@"C:\Users\cviot\Desktop\test.txt", contents: @State.TextEditorContent);
    }

}
